head{
    font: 100;
}

td {
    padding: 5px;
    
}

.cuerpo{
  display: flex;
  flex-direction: column;   /* uno debajo del otro */
  align-items: center;      /* centra horizontal */
  justify-content: center;  /* centra vertical */
}
  
.popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 20%;
  height: 20%;
  background: white;
  padding: 20px 30px;
  border-radius: 12px;
  text-align: center;
  display: flex;
  flex-direction: column; 
  justify-content: center;
  align-items: center;
  z-index: 10;
}

.oculto {
  display: none;
}

  h1 {    
    color: #631878;
    font-family: "Helvetica";
    font-weight: 400;
    font-size: 26px;
    text-decoration: underline;
  }
  
  .celda {
    width: 80px;
    height: 80px;
    font-size: 2rem;
    cursor: pointer;
    transition: background-color 0.5s, transform 0.2s;
    padding: 8px;
    background: #A1D5E3;
    border: 2px solid #631878;
    border-radius: 12px;
    font-size: 2.5rem;
  }
  
body {
    font-family: 'Inter', sans-serif;
    background-color: rgb(213, 187, 225);
  }

  .capa-oscura {
    width: 100%;
    height: 100%;
    filter: brightness(50%);
}
  .celda:hover{
    transform: scale(1.05);
  }
  
  .x {
    background-color: #e74c3c;
    color: white;
  }
  
  .o {
    background-color: #3498db;
    color: white;
  }

  .button-1 {
    width: 120px;
    height: 32px;
    padding: 0px 10px;
    background: #9C29B7;
    border: 2px solid #631878;
    border-radius: 3px;
    color: #91E4FB;
    font-family: "Helvetica";
    font-weight: 400;
    font-size: 14px;
    text-align: center;
  }


 
